rsync:
  enabled: true
  nodeName: porcupine
  mountSource: false

  privateKeyMount: true
  privateKeyMountPath: /root/.ssh/id_ed25519
  privateKey: asdf

  sshRemoteHost: REMOTE_HOST

  namespace: pv-migrate-test-2
  pvcMounts:
    - name: pv-migrate-test-dest-2
      mountPath: /dest

  sourcePath: /source/
  destPath: /dest/

sshd:
  enabled: true
  publicKey: qwer
  namespace: pv-migrate-test-1
  pvcMounts:
    - name: pv-migrate-test-source-1
      readOnly: true
      mountPath: /source
