---
name: build rsync image

on:
  push:
    branches:
      - master
      - renovate/**
    paths:
      - docker/rsync/**
  pull_request:
    branches:
      - master
    paths:
      - docker/rsync/**

jobs:
  build-rsync-image:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.0.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0
      - name: Login to DockerHub
        uses: docker/login-action@v3.0.0
        with:
          username: utkuozdemir
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5.0.0
        with:
          context: ./docker/rsync/
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          tags: docker.io/utkuozdemir/pv-migrate-rsync:latest
