---
name: build rsync image

on:
  workflow_dispatch: {}
  push:
    branches:
      - master
      - renovate/**
    paths:
      - docker/rsync/**
  pull_request:
    branches:
      - master
    paths:
      - docker/rsync/**

jobs:
  build-rsync-image:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Login to DockerHub
        uses: docker/login-action@v3.6.0
        with:
          username: utkuozdemir
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./docker/rsync/
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          tags: |
            docker.io/utkuozdemir/pv-migrate-rsync:latest
            ghcr.io/${{ github.repository_owner }}/pv-migrate-rsync:latest
