---
name: release sshd image

on:
  push:
    tags:
      - docker-sshd-*

jobs:
  release-sshd-image:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      - name: Login to DockerHub
        uses: docker/login-action@v3.6.0
        with:
          username: utkuozdemir
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set image tag as env variable
        run: echo "IMAGE_VERSION=$(echo ${GITHUB_REF#refs/*/} | sed 's/^docker-sshd-//')" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./docker/sshd/
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          tags: |
            docker.io/utkuozdemir/pv-migrate-sshd:latest
            docker.io/utkuozdemir/pv-migrate-sshd:${{ env.IMAGE_VERSION }}
            ghcr.io/${{ github.repository_owner }}/pv-migrate-sshd:latest
            ghcr.io/${{ github.repository_owner }}/pv-migrate-sshd:${{ env.IMAGE_VERSION }}
