---
name: release rsync image

on:
  push:
    tags:
      - docker-rsync-*

jobs:
  release-rsync-image:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.1.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.3.0
      - name: Login to DockerHub
        uses: docker/login-action@v3.2.0
        with:
          username: utkuozdemir
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set image tag as env variable
        run: echo "IMAGE_VERSION=$(echo ${GITHUB_REF#refs/*/} | sed 's/^docker-rsync-//')" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v5.4.0
        with:
          context: ./docker/rsync/
          platforms: linux/amd64,linux/arm,linux/arm64
          push: true
          tags: |
            docker.io/utkuozdemir/pv-migrate-rsync:latest
            docker.io/utkuozdemir/pv-migrate-rsync:${{ env.IMAGE_VERSION }}
